<div class="rsvp">
    <div class="co"></div>
    <div class="hea">
        <h1>Welcome Back to E-vent</h1>
    </div>
    
</div>


    <div class="row mx-5">
      <div class="head">
          <h1>Log In</h1>
          <h4>Access your account</h4>
      </div>
  
  
      <div class="row">
  
          <form  (ngSubmit)="onSubmit()">
  
              <div class="email col-md-12">
                  <label for="username">username</label>
                  <input type="text" placeholder="Enter your Username" formControlName="username">
              </div>
              <div class="email col-md-12">
                <label for="email">password</label>
                <input type="password" placeholder="enter your password" formControlName="password">
            </div>
  
             
              
                  <button type="submit" class="col-md-12 ">Login</button>
             
              
              <p>Don't have an account? <a routerLink="/register">Sign up</a></p>
          </form>
  
      </div>
  
  </div>
    

